@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

body {
   margin: 0;
   padding: 0;
   font-family: 'poppins', sans-serif;
   color: aliceblue
}


/*header*/
.header-container {
   height: 100vh;
   width: 100vw;
   background-color: black;
   background-image: url('imagens/imagens\ sem-fundo-oficial-portfolio.png');
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   padding: 0 auto;
   position: relative;


}

.logo {
   display: flex;
   position: fixed;
   width: 70px;
   height: 70px;
   left: 20px;
   top: 14px;
   z-index: 11111;


}

h1 {
   display: flex;
   font-size: 50px;
   text-transform: uppercase;
   letter-spacing: 4px;
   top: 0;
   position: absolute;

}

h2 {
   text-transform: uppercase;
   letter-spacing: 4px;
   top: 100px;
   position: absolute;
}

.social-midia {
   display: block;
   margin-top: 1rem;
   position: relative;
   width: 100%;
   height: 100vh;
   margin-top: 10rem;
   
   
}

.social-midia a {
   display: flex;
   padding: 1rem 3rem;
   border: 2px solid rgb(65, 58, 58);
   text-decoration: none;
   color: blanchedalmond;
   cursor: pointer;
   text-transform: uppercase;
   min-width: 3rem;
   justify-content: center;
   transition: .5s ease-in-out;
   letter-spacing: 1px;
   right: 0;
   border-radius: 20%;
   margin: 40px ;
   width: 180px;
}



a:hover {
   background-color: #ffff;
   color: red;
   font-size: 20px;
}

/*menu hamburgue*/
.checkbox-container {
   display: flex;
   justify-content: center;
   align-items: center;

}

.checkbox {
   background-color: rgb(35, 36, 36);
   opacity: .2;
   width: 100%;
   height: 100px;
   position: fixed;
   right: 0;
   top: 0;
   display: flex;
   justify-content: center;
   cursor: pointer;
   z-index: 9999;
   transition: 400ms ease-in-out 0s;



}


.checkbox .trace {
   width: 50px;
   height: 3px;
   background-color: rgb(240, 56, 56);
   position: absolute;
   border-radius: 4px;
   transition: 0.5s ease-in-out;
   right: 40px;

}

.checkbox .trace:nth-child(1) {
   top: 26px;
   transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
   top: 46px;
   transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
   top: 66px;
   transform: rotate(0);
}

#toggle {
   display: none;
}

.menu {
   position: absolute;
   top: 28px;
   right: 28px;
   background-color: transparent;
   height: 4px;
   width: 100px;
   border-radius: 50%;
   box-shadow: 0px 0px 0px 0px rgb(37, 35, 35);
   z-index: -1;
   transition: 400ms ease-in-out 0s;

}

.menu-itens {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
   opacity: 0;
   visibility: hidden;
   transition: 400ms ease-in-out 0s;
}


.menu-itens ul {
   list-style-type: none;
}

.menu-itens ul li a {
   margin: 10px 0;
   color: rgb(71, 219, 133);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 4 px;
   font-size: 40px;
}

/*animação*/
#toggle:checked~.menu-itens {
   visibility: visible;
   opacity: 1;

}


#toggle:checked+.checkbox .trace:nth-child(1) {
   transform: rotate(45deg);
   top: 48px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
   transform: translate(-100px);
   width: 30px;
   visibility: hidden;
   opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
   transform: rotate(-45deg);
   top: 48px;
}


#toggle:checked+.checkbox {
   background-color: #ffffff;

}

#toggle:checked~.menu {
   box-shadow: 0px 0px 0px 100vmax rgb(41, 38, 38);
   z-index: 1;

}


.container {

   height: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: black;
   margin: .1rem 0;

}

.card-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: black;
   width: 70%;
}

.card {
   
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 100%;
   margin: 3rem 1rem 1rem 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover;
   background-color: rgb(146, 194, 238);
   background-position: center;
   cursor: pointer;
   filter: grayscale(1);
   transition: 0.5s ease-in-out;
   background-image: url(imagens/cave_ball_silhouette_147313_2048x1152.jpg);
   background-repeat: no-repeat;
   color: black;
}

.card-text {
   color: antiquewhite;
   width: 40%;
   letter-spacing: 1px;
}


.card-wrapper {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.card-wrapper::before {
   content: '';
   position: absolute;
   height: 70px;
   width: 70px;
   border-radius: 50%;
   display: block;
   border: 2px solid rgb(182, 39, 118);
   opacity: 0;
   transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
   margin: 0;
   width: 150px;
   height: 50px;
   font-size: 20px;
   text-transform: uppercase;
   transition: .5s ease-in-out;
   letter-spacing: 2px;
   color: #fff;
   -webkit-text-stroke: .8px black;
   top: 25px;
}

.card-wrapper p {
   font-size: 0;
   font-weight: bold;
   text-transform: uppercase;
   visibility: visible;
   transition: 0.5s ease-in-out;
   opacity: 0;
   color: rgb(182, 39, 118);
}

 

/* animacão de projetos */



.card:hover {
   filter: unset;
}


.card:hover>.card-wrapper::before {
   width: 200px;
   height: 200px;
   opacity: 1;

}
.card:hover>.card-wrapper h2{
   font-size: 18px;
   opacity: .5;
}

.card:hover>.card-wrapper p {
   opacity: 1;
   visibility: visible;
   font-size: 30px;
}



.footer {
   position: relative;
   background-color: rgb(31, 29, 29);
   width: 100vw;
   height: 50px;
   text-align: center;
   justify-content: center;
   text-transform: uppercase;

}